<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.StudentMGConnectionString"
            connectionString="Data Source=157.245.57.133;Initial Catalog=StudentMG;Persist Security Info=True;User ID=sa;Password=Tuandev2002@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>